<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnative.ivpusic.imagepicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
            <!-- Anyone can access /my_downloads, the provider internally restricts access by UID for
                 these URIs -->
            <path-permission android:pathPrefix="/my_downloads"
                android:permission="android.permission.INTERNET"/>
            <!-- to access /all_downloads, ACCESS_ALL_DOWNLOADS permission is required -->
            <path-permission android:pathPrefix="/all_downloads"
                android:permission="android.permission.ACCESS_ALL_DOWNLOADS"/>
            <!-- Temporary, for backwards compatibility -->
            <path-permission android:pathPrefix="/download"
                android:permission="android.permission.INTERNET"/>
            <!-- Apps with access to /all_downloads/... can grant permissions, allowing them to share
                 downloaded files with other viewers -->
            <grant-uri-permission android:pathPrefix="/all_downloads/"/>
            <!-- Apps with access to /my_downloads/... can grant permissions, allowing them to share
                 downloaded files with other viewers -->
            <grant-uri-permission android:pathPrefix="/my_downloads/"/>
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
